.backgroundColor {
    background-color: black;
}
body{
    background-color: black;
}
.form{
    display: flex;
}
.registraionForm{
    border: 2px solid white;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}
.main-container-reg{
    background-color: black;
}
.btn-reg{
    width: 20%;
    border: 2px solid white;
    height: 50px;
    margin-top: 20px;
    display: block;
    margin-left: 39%;
}