  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.messageBox{
    padding: 1vmax;
    margin: 1vmax;
    border-radius: 5px;
    display: inline-block;
    clear: both;
    font-size: 1.1vmax;
    font-family: 'Itim', cursive;
}

.right{
    float: right;
    background-color: rgb(93, 224, 204);
    color: rgb(0, 0, 0);
    text-align: right;
    cursor: pointer;
}
.right:hover{
    background-color: rgb(102, 197, 182);
    color: rgb(0, 0, 0);
}

.left{
    float: left;
    text-align: left;
    background-color: rgb(175, 255, 159);
    color: black;
    cursor: pointer;
}
.left:hover{
    background-color: rgb(176, 224, 166);
    cursor: pointer;
}