.playlist{
    background-color: rgb(143, 160, 160);
    border-radius: 15px;
}
.main-container{
    background-color: rgb(73, 73, 81);
}
.card{
    border-radius: 10px;
    background-color: rgb(214, 222, 222);
}
